/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
/* Global settings */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;

}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", sans-serif;
  font-weight: lighter;
}

section,
hr {
  padding-left: 30%;
  padding-right: 30%;
}

ul {
  list-style-type: "- ";
}

ol {
  list-style-type: none;
}

.header-photo {
  background-image: url('../images/apple-pie.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
}

h1 {
  font-size: 40px;
  color: white;
  text-align: center;
  padding-top: 165px;
  width: 100%;
}

h2 {
  font-size: 25px;
  text-align: center;
  text-align: justify;

}

.recipe-time-image {
  display: block;
  width: 40%;
  margin: auto;
}